<header class="header">
  <div class="header-container clearfix">
    <span class="logo">dBank</span>
    
    <ul class="navbar clearfix left-nav">
      <li><a href="">Home</a></li>
      <li><a href="">My Accounts</a></li>
      <li><a href="">Customer Service</a></li>
      <li><a href="">Markets and Research</a></li>
    </ul>

    <ul class="navbar clearfix right-nav">
      <li><a href="">Welcome, John Smith!</a></li>
      <li><a href=""><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;Settings</a></li>
      <li><a  [routerLink]="['/login']"  >Logout</a></li>
    </ul>
  </div>
</header>